@use '@carbon/layout';
@use '@carbon/type';

.dashboard {
  padding: layout.$spacing-07 layout.$spacing-07 layout.$spacing-09;
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-06;
}

.message {
  @include type.type-style('body-01');
  padding: layout.$spacing-05;
}
