@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tile {
  text-align: center;
  padding: layout.$spacing-07 layout.$spacing-05;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-top: layout.$spacing-03;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-03;
}
